body {
    font-family: 'Open Sans', sans-serif;
}

.main {
    &__breadcrumb {
        padding: 20px 0;

        &--link {
            @include font-std(14px, $colorBlack, 500, $fontPrimary);
            margin: 0 5px;
        }

        &--active {
            color: $colorRed;
        }
    }

    &__filters {
        border: 1px solid #dfdedc;
        padding: 15px 20px;

        &--title {
            @include font-std(22px, $colorRed, 700, $fontPrimary);
            text-transform: uppercase;
        }

        &--subtitle {
            @include font-std(18px, $colorGreen, 700, $fontPrimary);
            text-transform: uppercase;
            margin-top: 15px;
        } 

        &--colors {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                padding: 0 5px;
            }

            .red {
                background-color: #cc0d1f;
                list-style: none;
                height: 30px;
                margin: 0;
                display: block;
                width: 100%;
            }
            .orange {
                background-color: #f36324;
                list-style: none;
                height: 30px;
                margin: 0;
                display: block;
                width: 100%;
            }
            .blue {
                background-color: #28a3aa;
                list-style: none;
                height: 30px;
                margin: 0;
                display: block;
                width: 100%;
            }
        }

        &--categories, 
        &--type {
            padding: 0;

            li {
                list-style: none;
                display: flex;
                align-items: center; 
                &:before {
                    content: '•';
                    @include font-std(20px, $colorGreyLight, 400, $fontPrimary);  
                    margin-right: 10px;                  
                }
            }

            a {
                @include font-std(16px, $colorGreyLight !important, 400, $fontPrimary);
                padding: 0;
                text-transform: capitalize;
                &:hover {
                    color: $colorRed;
                }
            }
            
        }  
       
    } 

    &__produtos {
        padding: 0 15px 0 30px;

        @include mobile {
            padding: 0;
        }

        &--title {
            @include font-std(28px, $colorRed, 400, $fontPrimary);
            @include mobile {
                margin-top: 40px;
            }
        }
        &--ordenation {
            margin: 0;
            align-items: center;
            justify-content: flex-end;

            @include mobile {
                justify-content: end;
            }

            p {
                @include font-std(14px, $colorGreyLight, 700, $fontPrimary);
                text-transform: uppercase;
                margin: 0;
            }
            select {
                @include font-std(14px, $colorBlack, 500, $fontPrimary);
                padding: 5px 10px;
                border-radius: 4px;
                border: 1px solid $colorGreyLight; 
                width: 60%;
                margin: 0 0 0 10px;
                @include mobile {
                    width: 69%;
                }
            }
        }
        &--produto {
            display: flex;
            flex-direction: column;
            .img {
                border: 1px solid #dfdedc;
                padding: 30px 10px;
                max-height: 230px;
                height: 100%;
                overflow: hidden; 
            }
            .title {
                @include font-std(16px, $colorGreyLight, 400, $fontPrimary);
                text-transform: uppercase;
                margin: 10px 0;
                text-align: center;
                flex: 1;
            }
            .price {
                @include font-std(20px, $colorRed, 700, $fontPrimary);
                text-transform: uppercase;
                margin: 10px 0;
                text-align: center; 
            }
            .buy {
                background-color: $colorBlue;
                @include font-std(20px, $colorWhite, 700, $fontPrimary);
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                border-radius: 4px;
                width: 100%;
                display: block;
                margin: 10px 0;
                padding: 5px 10px; 
                &:hover {
                    background-color: $colorRed;
                }
                @include mobile {
                    display: none;
                }
            }
        }
    }

}