.header {

    &__topBar {
        padding: 10px 0;
        background-color: $colorGrey;  
        @include font-std(14px, $colorWhite, 400, $fontPrimary);

        &--link {
            @include font-std(14px, $colorWhite, 700, $fontPrimary); 
            text-decoration: underline; 
            margin: 0 5px; 
        }

    }


    &__logo {
        padding: 20px 0;

        &--search {
            border: 1px solid $colorGrey;
            padding: 5px 10px; 
            width: 80%;
            margin: 0;
            @include mobile {
                display: none;
            }
        }

        &--submit {
            position: absolute;
            background-color: $colorRed;
            @include font-std(14px, $colorWhite, 700, $fontPrimary);
            border: 0;
            border-radius: 0;
            padding: 8px 0;
            height: 36px;
            margin: 0; 
            width: 20%;

            @include mobile {
                position: inherit;
                width: 40px;
                height: 40px;
                background-color: transparent;
                background-image: url('/assets/media/search.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
            }
            
        }

        .logo {
            @include mobile {
                margin: 0 auto;
                display: block;
            }
        }

    }

    &__nav {
        background-color: $colorRed; 

        @include mobile {
            background-color: transparent;
        }

        &--collapse {
            @include mobile {
                padding: 20px;
                background-color: $colorRed;
            }
        }

        &--toggler {
            border: 0;
            position: absolute;
            top: -69px;
        }

        &--item {
            margin-right: 50px;
        }

        &--link {
            @include font-std(14px, $colorWhite !important, 700, $fontPrimary);
            text-transform: uppercase;
            &:hover {
                color: $colorBlack !important;
            }
        }
        

    }

}