/**
iconfont Webfont
*/

@font-face {
 font-family: "iconfont";

 src: url('../fonts/iconfont.eot?1616613058107');
 src: url('../fonts/iconfont.eot?#iefix-1616613058107') format('embedded-opentype'),
  url('../fonts/iconfont.woff2?1616613058107') format('woff2'),
  url('../fonts/iconfont.woff?1616613058107') format('woff'),
  url('../fonts/iconfont.ttf?1616613058107') format('truetype');
 font-weight: normal;
 font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
 font-family: 'iconfont';
 display: inline-block;
 vertical-align: middle;
 line-height: 1;
 font-weight: normal;
 font-style: normal;
 speak: none;
 text-decoration: inherit;
 font-size: inherit;
 text-transform: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

.icon-exibir:before {
 content: '\ea01';
}

.icon-exibir2:before {
 content: '\ea02';
}