// Colors
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorGrey: #231f20;
$colorGreyLight: #5d5d5d;
$colorRed: #cc0d1f;
$colorBlue: #80bdb8;
$colorGreen: #5f908a;
$colorOrange: #f36324;

// Font
$fontPrimary: 'Open Sans', sans-serif;